<h1> <%= @user.name || @user.email %> </h1>
<p> create at <%= time_ago_in_words(@user.created_at) %> ago</p>
<div class="row">
    <h2 > My todos </h2>
    <div class="col-md-8">
      <p class='lead'> description </p>
      <%= render @items%>
    </div>
</div>

  <div class="row">
  <div calss="col-md-12">
    <div class="new-item">
      <%= render partial: 'items/form', locals: { user: @user, item: @item } %>
    </div>
  </div>
</div>