<%= content_tag :div, id: "item-#{item.id}" do %>
  <div class="col-md-6">
    <p><%= item.name %></p>
  </div>
  <div class="col-md-4">
    <p> <%= item.days_left %> </p>
  </div>
  <div class="col-md-2">
    <p align="center">
      <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
    </p>
  </div>
<%end%>